# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Indrajit\Study\Kafka\Udemy-Kafka-Beginners-SMaarek\KafkaHandsOn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
